/* style.css */
body {
    background: url(../../intro/background.jpeg);
}
.cha {
    width: 500px;
    height: 350px;
    perspective: 1000px;
    margin: 200px auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px;
    position: relative;
}
.box {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #fff;
    box-shadow: 0 0 15px #fff;
    border-radius: 20px;
    transition: transform 0.2s;
    transform-style: preserve-3d;
    position: relative;
}
.hover {
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none; /* Bỏ qua sự kiện chuột */
}
.left {
    clip-path: polygon(0 33%, 0 66%, 50% 50%);
}
.right {
    clip-path: polygon(100% 33%, 100% 66%, 50% 50%);
}
.top {
    clip-path: polygon(33% 0, 66% 0, 50% 50%);
}
.bottom {
    clip-path: polygon(33% 100%, 66% 100%, 50% 50%);
}
.top-left {
    clip-path: polygon(0 0, 33% 0, 50% 50%, 0 33%);
}
.top-right {
    clip-path: polygon(100% 0, 100% 33%, 50% 50%, 66% 0);
}
.bottom-left {
    clip-path: polygon(0 100%, 0 66%, 50% 50%, 33% 100%);
}
.bottom-right {
    clip-path: polygon(100% 100%, 100% 66%, 50% 50%, 66% 100%);
}
.left:hover~.box {
    transform: rotateY(45deg);
}
.right:hover~.box {
    transform: rotateY(-45deg);
}
.top:hover~.box {
    transform: rotateX(-45deg);
}
.bottom:hover~.box {
    transform: rotateX(45deg);
}
.top-left:hover~.box {
    transform: rotateX(-45deg) rotateY(45deg);
}
.top-right:hover~.box {
    transform: rotateX(-45deg) rotateY(-45deg);
}
.bottom-right:hover~.box {
    transform: rotateX(45deg) rotateY(-45deg);
}
.bottom-left:hover~.box {
    transform: rotateX(45deg) rotateY(45deg);
}
.small-box {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    transition: transform 0.3s, background-color 0.3s;
    /* Đảm bảo con trỏ chuột thay đổi khi hover */
    cursor: pointer; 
}
